div.top { padding: 20px; 
    md-card.page_name { margin-bottom: 20px; 
        &:after { top: ''; display: block; clear: both; }
        div.main_icon { float: right; 
            a { display: inline-block; margin-left: 12px; 
                &:first-of-type { margin-left: 0; }
                md-icon { font-size: 21px; }
            }
        }
        h2 { font-size: 16px; }
    }

    md-card.admin_tab { margin-bottom: 20px; 
        h4 { font-weight: 700; border-bottom: 1px solid #edf0f4; padding-bottom: 12px; margin-bottom: 14px; }
        div{ text-align: right;
            a { display: inline-block; margin: 20px 0 5px; 
                md-icon { font-size: 21px; }
            }
        }
    }
    md-card.admin_list { margin-bottom: 20px; 
        &:after { top: ''; display: block; clear: both; }
        div { float: right;  
            a { display: inline-block; margin-left: 12px; 
                    &:first-of-type { margin-left: 0; }
                    md-icon { font-size: 21px; }
            }
        }
        h4 { font-weight: 700; border-bottom: 1px solid #edf0f4; padding-bottom: 12px; margin-bottom: 14px; }

        table { width: 100%; 
            md-input-container { display: block; }
        }

    }
}
  






// th {
//   color: black !important;
// }
// tr {
//   color: rgba(0, 0, 0, 0.5);
//   transition: all 0.3s ease-in-out;
//   td {
//     height: 60px;
//   }
// }

