div.content { padding: 20px; 

    md-card.page_name { margin-bottom: 20px; 
        &:after { content: ''; display: block; clear: both; }
        div.main_icon { float: right; 
            a { display: inline-block; margin-left: 12px; 
                &:first-of-type { margin-left: 0; }
                md-icon { font-size: 21px; }
            }
        }
        h2 { font-size: 16px; }
    }

    input[type="radio"] { display: none; }
    
    input[type="radio"]#dashboard:checked ~ div.help_button label[for="dashboard"] { background-color: #3f51b5; color: white; }
    input[type="radio"]#graphQuery:checked ~ div.help_button label[for="graphQuery"] { background-color: #e64a19; color: white; }
    input[type="radio"]#workspace:checked ~ div.help_button label[for="workspace"] { background-color: #4caf50; color: white; }
    input[type="radio"]#admin:checked ~ div.help_button label[for="admin"] { background-color: #ffa000; color: white; }

    input[type="radio"]#dashboard:checked ~ div.help_content md-card.dashboard,
    input[type="radio"]#graphQuery:checked ~ div.help_content md-card.graphquery,
    input[type="radio"]#workspace:checked ~ div.help_content md-card.workspace, 
    input[type="radio"]#admin:checked ~ div.help_content md-card.admin { opacity: 1 }

    div.help_button { text-align: right; 
        label { width: 120px; height: 45px; background-color: white; display: inline-block; margin-left: 10px; margin-bottom: 20px; font-size:12px; font-weight: 700; color: #999999; text-align: center; line-height: 45px; border-radius:3px; box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12); cursor: pointer; 
            &:first-of-type { margin-left: 0; }
        }
    }

    div.help_content { position: relative; 
            md-card { position: absolute; opacity: 0; transition: all 0.5s ease-in-out;  
                h4 { font-weight: 700; border-bottom: 1px solid #edf0f4; padding-bottom: 12px; margin-bottom: 14px; }
                p { font-size: 14px; margin-bottom: 30px; }
                md-tab-group { 
                    h5 { font-size: 16px; font-weight: 700; margin: 20px 0; }
                    p { column-count: 3; }
                }
            }
    }
    
}