<div id="top" class="content">
    <md-card class="page_name">
        <div class="main_icon">
            <a mdTooltip="Reload" mdTooltipPosition="above" (click)="loadAllProjects()"><md-icon>refresh</md-icon></a>
            <a mdTooltip="Help" mdTooltipPosition="above"><md-icon>help_outline</md-icon></a>
        </div>
        <h2>WORKSPACE</h2>
    </md-card>
  <!-- 
    Graph tab title
  -->
    <md-card class="my_work">
        <h4>My Works</h4>
        <ngx-datatable #projectsTable class='material'  
                [rows]='tableRows'
                [loadingIndicator]="loading_label" [reorderable]="true" [limit]="5"
                [headerHeight]="40" [footerHeight]="40" [rowHeight]="'50'" [columnMode]="'force'"
                (page)="onTablePage($event.offset)">

            <ngx-datatable-row-detail [rowHeight]="60" #myDetailRow (toggle)="onRowDetailToggle($event)">
                <ng-template let-row="row" ngx-datatable-row-detail-template>
                    <div style="padding-left:35px; overflow-y:auto;">
                        <div><span>{{ row.sql }}</span></div>
                    </div>
                </ng-template>
            </ngx-datatable-row-detail>

            <!-- **NOTE: 썸네일 출력은 나중에 합시다! -->
            <ngx-datatable-column name="Id" [width]="60" [maxWidth]="60" [resizeable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span>{{ row.id }}</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Show" [width]="80" [resizeable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button md-icon-button (click)="showProjectGraph('left', row)" mdTooltip="LEFT" mdTooltipPosition="after"><md-icon>keyboard_arrow_left</md-icon></button>
                    <button md-icon-button (click)="showProjectGraph('right', row)" mdTooltip="RIGHT" mdTooltipPosition="after"><md-icon>keyboard_arrow_right</md-icon></button>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Title" [width]="160" [minWidth]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button *ngIf="row.sql" md-icon-button mdTooltip="Expand/Collapse Row" (click)="toggleExpandRow(row)">
                        <i [class.datatable-icon-right]="!row.$$expanded" [class.datatable-icon-down]="row.$$expanded"></i>
                    </button>
                    <span><a [routerLink]="['/graph/'+row.id, row]">{{ row.title }}</a></span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Last Update" [width]="80" [resizeable]="true">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span>{{ row.update_dt | date : "yyyy-MM-dd HH:mm:ss" }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Description" [width]="120" [minWidth]="100" [resizeable]="true">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span>{{ row.description }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Delete" [width]="60" [resizeable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                <button md-icon-button (click)="removeProject(row.id)" mdTooltip="Delete" mdTooltipPosition="before">
                    <md-icon>delete</md-icon>
                </button>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </md-card>

    <div class="workspace">
        <md-card>
            <span>
                <a mdTooltip="Refresh" mdTooltipPosition="above" (click)="cyResize('left')"><md-icon>refresh</md-icon></a>
                <a mdTooltip="Edit" mdTooltipPosition="above" (click)="goEditGraph('left')"><md-icon>mode_edit</md-icon></a>
                <a mdTooltip="Clear" mdTooltipPosition="above" (click)="clearGraph('left')"><md-icon>cancel</md-icon></a>
            </span>
            <h4> {{ graph_left_row ? graph_left_row.title : "No title" }} 
                <br *ngIf="!!graph_left_row">
                <small *ngIf="!!graph_left_row"> {{ graph_left_row.description }} </small>
            </h4>
            <md-card-content>
                <!-- Graph content -->
                <div id="agens-graph-left"></div>
            </md-card-content>
        </md-card>
        <md-card>
            <span>
                <a mdTooltip="Refresh" mdTooltipPosition="above" (click)="cyResize('right')"><md-icon>refresh</md-icon></a>
                <a mdTooltip="Edit" mdTooltipPosition="above" (click)="goEditGraph('right')"><md-icon>mode_edit</md-icon></a>
                <a mdTooltip="Clear" mdTooltipPosition="above" (click)="clearGraph('right')"><md-icon>cancel</md-icon></a>
            </span>
            <h4> {{ graph_right_row ? graph_right_row.title : "No title" }} 
                <br *ngIf="!!graph_right_row">
                <small *ngIf="!!graph_right_row"> {{ graph_right_row.description }} </small>
            </h4>
            <md-card-content>
                <!-- Graph content -->
                <div id="agens-graph-right"></div>
            </md-card-content>
        </md-card>
    </div>
</div>


