<div id="top" class="content"> 
    <md-card class="page_name">
        <div class="main_icon">
            <a mdTooltip="Help" mdTooltipPosition="above"><md-icon>help_outline</md-icon></a>
        </div>
        <h2>Dashboard</h2>
    </md-card>

    <div class="user_info">
        <ul>
            <li>
                <md-card class="server">
                    <p>{{host}}</p>
                    <span>:{{port}}</span>
                    <h3>SERVER <md-icon>desktop_windows</md-icon></h3>
                </md-card>
            </li>
            <li>
                <md-card class="database">
                    <div>
                        <p>{{db}}</p>
                        <span>(owner: {{db_owner}})</span>
                        <!--<p>{{db_desc}}</p>-->
                    </div>
                    <h3>DATABASE<md-icon>cloud</md-icon></h3>
                </md-card>
            </li>
            <li>
                <md-card class="username">
                    <p>{{username}} <small>&lt;{{email}}&gt;</small></p>
                    <span>({{authorities}})</span>
                    <h3>USER INFO.<md-icon>person</md-icon></h3>
                </md-card>
            </li>
<!-- 
            // 나중에 Connection History 출력용으로 사용할 예정
            <li>
                <md-card class="email">
                    <p></p>
                    <span>Your E-mail info</span>
                    <h3>E-mail<md-icon>mail</md-icon></h3>
                </md-card>
            </li>
-->
        </ul>
        <md-progress-bar mode="indeterminate" *ngIf="loading">Loading...</md-progress-bar>
    </div>

<!-- 
    <div class="loading-container" *ngIf="loading">
        <md-progress-spinner mode="indeterminate" color="warn">Loading...</md-progress-spinner>
    </div>
 -->
    <div class="dash">
        <div class="dashboard">
            <md-card>
                <div>
                    <h4>DB Browser</h4>
                </div>
                <md-card-content>
                    <!--<tree-root #tree [nodes]="treeData"></tree-root>-->
                    <tree-root #tree [nodes]="treeData"
                        (onActivate)="onTreeActivate(tree, $event)"
                        (onUpdateData)="onTreeInitialized($event)">
                        <ng-template #treeNodeTemplate let-node="node" let-index="index" let-templates="templates">
                            <md-icon *ngIf="!node.isLeaf">folder</md-icon>
                            <span>{{ node.data.name }}</span>
                            <span *ngIf="!node.isLeaf">({{ node.children.length }})</span>
                            <md-icon *ngIf="node.level == 4 && !node.data.loaded">turned_in_not</md-icon>
                        </ng-template>
                    </tree-root>
                </md-card-content>
            </md-card>
        </div>

        <div class="dash_detail">
            <md-card>
                <div>
                    <h4>Browser Details</h4>
                </div>
                <md-card-content>
                    <ngx-datatable #browserTable class='material' 
                        [rows]='tableRows' [columns]='tableColumns'
                        [loadingIndicator]="loading_label" [reorderable]="true" [limit]="5"
                        [headerHeight]="40" [footerHeight]="40" [rowHeight]="50" 
                        [columnMode]="'force'" (page)="onTablePage($event.offset)">

                        <ngx-datatable-row-detail [rowHeight]="50" #myDetailRow (toggle)="onRowDetailToggle($event)">
                          <ng-template let-row="row" ngx-datatable-row-detail-template>
                            <div style="padding-left:35px; overflow-y:auto;">
                              <div><span>{{ row[row._selectedColumn] }}</span></div>
                            </div>
                          </ng-template>
                        </ngx-datatable-row-detail>

                        <ngx-datatable-column name="OID" [width]="100" [maxWidth]="100" [canAutoResize]="false">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                            <span>{{ row.id }}</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Name" [width]="180" [maxWidth]="240" [canAutoResize]="false">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                            <span>{{ row.name }}</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Type" [width]="80" [maxWidth]="120" [canAutoResize]="false">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                            <span>{{ row.type }}</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Owner" [width]="100" [maxWidth]="120" [canAutoResize]="false">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            <span>{{ row.owner }}</span>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Description" [width]="120" [canAutoResize]="true">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            <button *ngIf="row.desc" md-icon-button mdTooltip="Expand/Collapse Row"
                                (click)="toggleExpandRow(row, 'desc')">
                              <i [class.datatable-icon-right]="!row.$$expanded" [class.datatable-icon-down]="row.$$expanded"></i>
                            </button>
                            <span>{{ row.desc }}</span>
                          </ng-template>
                        </ngx-datatable-column>
<!-- 
                        <ngx-datatable-column *ngFor="let col of tableColumns | slice:1" name="{{col.name}}" 
                                [width]="120" [minWidth]="100" [canAutoResize]="true">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                            <span>{{ row[col.prop] }}</span>
                            </ng-template>
                        </ngx-datatable-column>
-->
                    </ngx-datatable>
                </md-card-content>
            </md-card>
        </div> 
    </div>
</div>