div.content { padding: 20px; 

        md-card.page_name { margin-bottom: 20px; 
                &:after { content: ''; display: block; clear: both; }
                div.main_icon { float: right; 
                a { display: inline-block; margin-left: 12px; 
                        &:first-of-type { margin-left: 0; }
                        md-icon { font-size: 21px; }
                }
                }
                h2 { font-size: 16px; }
        }

        div.user_info { margin-bottom: 20px; 
                ul { 
                        &:after { content:''; display: block; clear: both; }
                        li { width: 24.25%; margin-left: 1%; float: left; 
                                &:first-child { margin-left: 0; } 
                                md-card { padding: 0; 
                                        h3 { font-size: 12px; padding: 3% 4%; color: white; font-weight: 700; 
                                                md-icon { float: right; color: white; font-size: 17px; }
                                        }
                                        p { text-align: right; font-size: 15px; padding: 8% 4% 0; font-weight: 700; 
                                                small { font-size: 75%; }
                                        }
                                        span { color: rgba(0,0,0,0.3); padding: 1% 4% 8%; display: block; text-align: right; font-size: 12px; font-weight: 700; }
                                } 
                                .server { h3{background-color: #3f51b5;} p{color: #3f51b5;}}
                                .database { h3{background-color: #e64a19;} p{color: #e64a19;}}
                                .username { h3{background-color:#4caf50;} p{color: #4caf50;}}
                                .email { h3{background-color: #ffa000;} p{color: #ffa000;}}
                        }
                }
                
        }


        div.dashboard { width: 33%; margin-right:2%; float: left;
                md-card {  
                        h4 { font-weight: 700; border-bottom: 1px solid #edf0f4; padding-bottom: 12px; margin-bottom: 14px; }
                        md-card-content { height: 350px; }
                }
        }

        div.dash_detail { width: 65%; float: right;  
                md-card {    
                        h4 { font-weight: 700; border-bottom: 1px solid #edf0f4; padding-bottom: 12px; margin-bottom: 14px; }
                        md-card-content { height: 350px; }
                }
        }

        div.dash:after { content:''; display: block; clear: both; }

}

.loading-container {
  position: absolute;
  top: 200px;
  z-index: 2;
  width:40%;
  left: 40%;
  margin: 0 auto;
//   right: 0;
}

@media screen and ( max-width: 1024px ) {

        div.user_info ul { margin-bottom: 0; 
                li { width: 49% !important; margin-left: 0 !important; 
                        &:nth-last-of-type(even) { margin-right: 2%; margin-bottom: 20px; }
                }
        }
}

@media screen and (max-width: 768px ) {
        div.dashboard { width: 100% !important; margin-right: 0 !important; margin-bottom: 20px; float: none; }
        div.dash_detail { width: 100% !important; float: none; }

}