div.Open_M_Head { padding: 16px; }
.material-icons { font-size: 18px; line-height: 16px; }
.radius15 { border-radius: 15px; }

div.content {
    padding-right: 20px;
    .newgraph_card { border-radius: 0 0 0 15px; 
        div { border-radius: 15px 0 0 15px; }    
    }
    span.page_title_icon { a { padding: 6px; } }
    md-card { margin-right: 40px; }
    div.edi_head { 
          h4 { line-height: 37px; }  
          a { display: inline-block; padding: 8px; cursor: pointer; }
    }
    td-expansion-panel {         
        h4 { color: #fafafa; }; 
    }    

//------------------ Editor CSS

    form { position: relative; 
        md-placeholder { font-size:14px; }
        .edi_chk { bottom: 10px; right: 10px; position: absolute; z-index: 99; }
    }

//------------------- GRAPH SETTING CSS

    md-sidenav { width: 320px; 
        div.setsidehead { padding: 26px 18px 26px 32px; margin-bottom: 12px; }
        form {
            h5 { width: 100%; margin: 14px 32px; padding-bottom: 8px; font-size: 15px; font-weight: 400; border-bottom: 1px solid; }
            div.set_input { padding: 0 24px; 
                md-input-container { margin: 0 8px; }
                md-select { margin: 12px 8px; }
            }
        }
        div.setsidefoot { margin: 10px 24px 0; }        
    }

//------------------ GRAPH CSS 

    div.gra_content { 
        width: 100%; height: 100%; position: relative; resize: vertical; overflow: auto; 
        span.gra_toolbar { 
            position: absolute; top: 35px; right: 8px; color: #263238; 
            button { margin-bottom: 5px; }
        }
        md-chip-list { position: absolute; bottom: 75px; left: 25px; }
    } 
}

.loading-container {
  position: absolute;
  top: 200px;
  z-index: 2;
  width:40%;
  left: 40%;
  margin: 0 auto;
//   right: 0;
}

/////////////////////////////////////////////////
