<div id="top" class="content">
  <md-card class="page_name">
      <div class="main_icon">
          <a mdTooltip="New" mdTooltipPosition="above"><md-icon>add</md-icon></a>
          <a [mdMenuTriggerFor]="folderOpen" mdTooltip="Load samples" mdTooltipPosition="above"><md-icon>folder_open</md-icon></a>

          <md-menu #folderOpen="mdMenu" [attr.x-position]="before" [attr.y-position]="below">
              <div td-menu-header class="md-subhead">SELECT FILE <br><small>OPEN YOUR GRAPH FILE</small></div>
              <md-divider></md-divider>
              <button md-menu-item (click)="loadDemoData(0)"><div layout="column"><h4>Sameple#1</h4></div></button>
              <md-divider></md-divider>
              <button md-menu-item (click)="loadDemoData(1)"><div layout="column"><h4>Sameple#2</h4></div></button>
              <md-divider></md-divider>
              <button md-menu-item (click)="loadDemoData(2)"><div layout="column"><h4>Sameple#3</h4></div></button>
          </md-menu>

          <a mdTooltip="Save" mdTooltipPosition="above" (click)="toggleSave()"><md-icon>save</md-icon></a>
          <a mdTooltip="Help" mdTooltipPosition="above"><md-icon>help_outline</md-icon></a>
      </div>
      <h2>Graph Query</h2>
  </md-card>


  <!-- save card -->
  <md-card *ngIf="toggleDivSave" class="page_save">
        <div>
            <a mdTooltip="Save" mdTooltipPosition="above" (click)="saveProject()"><md-icon>done</md-icon></a>
            <a mdTooltip="Close" mdTooltipPosition="above" (click)="toggleSave()"><md-icon>clear</md-icon></a>
        </div>
        <h4>Save</h4>
        <form>
            <!--<input type="hidden" [value]="projId">-->
            <md-input-container>
                <md-placeholder>Title</md-placeholder>
                <input name="title" type="text" mdInput [(ngModel)]="projTitle" [value]="projTitle">
            </md-input-container>
            <md-input-container>
                <md-placeholder>Description</md-placeholder>
                <input name="description" type="text" mdInput [(ngModel)]="projDescription" [value]="projDescription">
            </md-input-container>
        </form>
  </md-card>


  <!-- editor -->
  <md-card class="editor">
      <div>
        <a md-raised-button (click)="requestQuery()">Run</a>
        <a md-raised-button (click)="stopQuery()">Stop</a>
      </div>
      <h4>EDITOR</h4>
      <!-- REQUEST : cypher query -->
      <md-card-content>
        <form>
          <textarea placeholder="input Cypher Query.." id="agensQuery" #agensQuery type="text"
            (change)="query=agensQuery.value" [value]="query"></textarea>
        </form>
      </md-card-content>
      <md-progress-bar mode="indeterminate" *ngIf="loading">Loading...</md-progress-bar>    
  </md-card>
<!-- 
  <div class="loading-container" *ngIf="loading">
      <md-progress-spinner mode="indeterminate" color="warn">Loading...</md-progress-spinner>
  </div>
 -->

  <!-- GRAPH -->
  <!--<md-card id="graphCard" (window:resize)="onResize($event)">-->
  <div id="graphCard" (window:resize)="onResize($event)">
    <span id="agens-graph-toolbar">
        <a [mdMenuTriggerFor]="layoutMenu" mdTooltip="LAYOUT" mdTooltipPosition="above"><md-icon>web</md-icon></a>
            <md-menu #layoutMenu="mdMenu" [attr.x-position]="before" [attr.y-position]="below">
                <div td-menu-header class="md-subhead">
                    <h4>LAYOUT<br>
                        <small>SELECT YOUR GRAPH LAYOUT</small>
                    </h4>
                </div>
                <md-divider></md-divider>
                <button md-menu-item (click)="changeLayout(0)">GRID</button>
                <md-divider></md-divider>
                <button md-menu-item (click)="changeLayout(1)">RANDOM</button>    
                <md-divider></md-divider>
                <button md-menu-item (click)="changeLayout(2)">BREADTHFIRST</button> 
                <md-divider></md-divider>
                <button md-menu-item (click)="changeLayout(3)">CIRCLE</button>
                <md-divider></md-divider>
                <button md-menu-item (click)="changeLayout(4)">CONCENTRIC</button>
                <md-divider></md-divider>
                <button md-menu-item (click)="changeLayout(5)">COLA</button>
                <md-divider></md-divider>
                <button md-menu-item (click)="changeLayout(6)">COSE</button>
                <md-divider></md-divider>
                <button md-menu-item (click)="changeLayout(7)">COSE-BILKENT</button>
                <md-divider></md-divider>
                <button md-menu-item (click)="changeLayout(8)">DAGRE</button>
            </md-menu>

        <a mdTooltip="SEARCH" mdTooltipPosition="above"><md-icon>search</md-icon></a>
        <a (click)="cyUndo()" mdTooltip="BEFORE" mdTooltipPosition="above"><md-icon>skip_previous</md-icon></a>
        <a (click)="cyRedo()" mdTooltip="AFTER" mdTooltipPosition="above"><md-icon>skip_next</md-icon></a>

        <a (click)="dlgFullScreen()" mdTooltip="Full Screen" mdTooltipPosition="above"><md-icon>open_with</md-icon></a>
        <a [mdMenuTriggerFor]="exportMenu" mdTooltip="EXPORT" mdTooltipPosition="above"><md-icon>file_download</md-icon></a>
            
            <md-menu #exportMenu="mdMenu" [attr.x-position]="before" [attr.y-position]="above">
                <div td-menu-header class="md-subhead"><h4>EXPORT<br><small>select type</small></h4></div>
                <md-divider></md-divider>
                <button md-menu-item (click)="dlgExportImage()">
                <md-icon>gradient</md-icon><span>Image(PNG)</span>
                </button>    
                <md-divider></md-divider>
                <button md-menu-item (click)="dlgExportJson()">
                <md-icon>image</md-icon><span>JSON File</span>
                </button>            
            </md-menu>
        
        <a (click)="graphSetting.open()" mdTooltip="SETTING" mdTooltipPosition="above"><md-icon>settings</md-icon></a>
        <a (click)="cyResize()" mdTooltip="Refresh Canvas" mdTooltipPosition="above"><md-icon>refresh</md-icon></a>
        <a mdTooltip="HELP" mdTooltipPosition="above"><md-icon>help</md-icon></a>
    </span>
    <h4>GRAPH <small>result</small></h4>
    <md-sidenav-container>
        
        <!-- Graph setting side -->
        <md-sidenav #graphSetting mode="over" opened="false" align="end">
            <div>
                <a (click)="graphSetting.close()" mdTooltip="Close" mdTooltipPosition="above"><md-icon>close</md-icon></a>
                <a (click)="resetSetting()" mdTooltip="Clear" mdTooltipPosition="above"><md-icon>reply</md-icon></a>
                <h5>Styles</h5>
            </div>
           
            <form #settingNodeForm>
                <fieldset>
                    <legend>Nodes</legend>
                    <table>
                      <tbody>
                          <tr>
                              <td style="vertical-align: middle"><span>target</span></td>
                              <td style="width: 157px;">
                                  <md-input-container>
                                    <input style="padding:0" mdInput #settingNodeTarget placeholder="node[.{class}]" [mdAutocomplete]="settingNodeSelector"
                                            value="{{setting.nodeSelector}}" (change)="onChangeNodeSelector($event.target.value)">
                                  </md-input-container>
                                  <md-autocomplete #settingNodeSelector="mdAutocomplete">
                                    <md-option #settingNodeTarget *ngFor="let label of result_labels_node" [value]="label.name"
                                            (mouseup)="onChangeNodeSelector(label.name)">
                                      {{ label.name }}
                                    </md-option>
                                  </md-autocomplete>
                              </td>
                          </tr>
                          <tr>
                              <td><span >title</span></td>
                              <td align="center">
                                  <input #settingNodeTitle [(ngModel)]="setting.nodeStyle['label']" value="{{setting.nodeStyle['label']}}" 
                                          type="text" [ngModelOptions]="{standalone:true}">
                              </td>
                          </tr>
                          <tr>
                              <td><span >text-color</span></td>
                              <td align="center">
                                  <input #settingNodeColor [(ngModel)]="setting.nodeStyle['color']" value="{{setting.nodeStyle['color']}}" 
                                          type="text" [ngModelOptions]="{standalone:true}">
                              </td>
                          </tr>
                          <tr>
                              <td><span >shape</span></td>
                              <td align="center">
                                  <input #settingNodeShape [(ngModel)]="setting.nodeStyle['shape']" value="{{setting.nodeStyle['shape']}}" 
                                          type="text" [ngModelOptions]="{standalone:true}">
                              </td>
                          </tr>
                          <tr>
                              <td><span >bg-color</span></td>
                              <td align="center">
                                  <input #settingNodeBgColor [(ngModel)]="setting.nodeStyle['background-color']" value="{{setting.nodeStyle['background-color']}}" 
                                          type="text" [ngModelOptions]="{standalone:true}">
                              </td>
                          </tr>
                          <tr>
                              <td><span >border-color</span></td>
                              <td align="center">
                                  <input #settingNodeBorderColor [(ngModel)]="setting.nodeStyle['border-color']" value="{{setting.nodeStyle['border-color']}}" 
                                          type="text" [ngModelOptions]="{standalone:true}">
                              </td>
                          </tr>
                          <tr>
                              <td><span >border-width</span></td>
                              <td align="center">
                                  <input #settingNodeBorderWidth [(ngModel)]="setting.nodeStyle['border-width']" value="{{setting.nodeStyle['border-width']}}" 
                                          type="text" [ngModelOptions]="{standalone:true}">
                              </td>
                          </tr>
                      </tbody>
                    </table>
                    <a (click)="setDefaultSetting('node')">default</a>
                </fieldset>
            </form>
            <form #settingEdgeForm >
                <fieldset>
                    <legend>Edges</legend>
                    <table>
                      <tbody>
                        <tr>
                          <td style="vertical-align: middle"><span>target</span></td>
                          <td style="width: 157px;">
                              <md-input-container>
                                  <input style="padding:0" mdInput #settingEdgeTarget placeholder="edge[.{class}]" [mdAutocomplete]="settingEdgeSelector" 
                                          value="{{setting.edgeSelector}}" (change)="onChangeEdgeSelector($event.target.value)">
                              </md-input-container>
                              <md-autocomplete #settingEdgeSelector="mdAutocomplete">
                                  <md-option #settingEdgeTarget *ngFor="let label of result_labels_edge" value="{{ label.name }}" (mouseup)="onChangeEdgeSelector(label.name)">
                                      {{ label.name }}
                                  </md-option>
                              </md-autocomplete>
                          </td>
                        </tr>
                        <tr>
                          <td><span>title</span></td>
                          <td align="center">
                              <input #settingEdgeTitle [(ngModel)]="setting.edgeStyle['label']" value="{{setting.edgeStyle['label']}}" 
                                      type="text" [ngModelOptions]="{standalone:true}">
                          </td>
                        </tr>
                        <tr>
                          <td><span>text-color</span></td>
                          <td align="center">
                              <input #settingEdgeColor [(ngModel)]="setting.edgeStyle['color']" value="{{setting.edgeStyle['color']}}" 
                                      type="text" [ngModelOptions]="{standalone:true}">
                          </td>
                        </tr>
                        <tr>
                          <td><span>line-style</span></td>
                          <td align="center">
                              <input #settingEdgeShape [(ngModel)]="setting.edgeStyle['line-style']" value="{{setting.edgeStyle['line-style']}}" 
                                      type="text" [ngModelOptions]="{standalone:true}">
                          </td>
                        </tr>
                        <tr>
                          <td><span>line-color</span></td>
                          <td align="center">
                              <input #settingEdgeShape [(ngModel)]="setting.edgeStyle['line-color']" value="{{setting.edgeStyle['line-color']}}" 
                                      type="text" [ngModelOptions]="{standalone:true}">
                          </td>
                        </tr>
                        <tr>
                          <td><span >line-width</span></td>
                          <td align="center">
                              <input #settingEdgeShape [(ngModel)]="setting.edgeStyle['width']" value="{{setting.edgeStyle['width']}}" 
                                      type="text" [ngModelOptions]="{standalone:true}">
                          </td>
                        </tr>
                        <tr>
                          <td><span >curve-style</span></td>
                          <td align="center">
                              <input #settingEdgeShape [(ngModel)]="setting.edgeStyle['curve-style']" value="{{setting.edgeStyle['curve-style']}}" 
                                      type="text" [ngModelOptions]="{standalone:true}">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <a (click)="setDefaultSetting('edge')">default</a>
                </fieldset>
            </form>
            <a (click)="applySetting()"><md-icon>arrow_back</md-icon>APPLY</a>
            
          
        </md-sidenav>

        <!-- Graph content -->
            <div id="agens-graph" class="gra_content"
                [style.height.px]="graContentHeight" #divAgensGraph>
            </div>

        <!--<md-chip-list id="agens-graph-labels" style="position: absolute; bottom: 20px;">-->
        <md-chip-list id="agens-graph-labels">
          <md-chip *ngFor="let label of result_labels" [selected]="true" style="z-index: 9"
              (click)="cySelectLabel(label.type, label.name)" [color]="(label.type == 'edge') ? 'primary':'accent'">
            {{label.name}}({{label.count}})
          </md-chip>
          <!--<md-chip [selected]="true" color="primary">Moive(12)</md-chip>-->
        </md-chip-list>
        
    </md-sidenav-container>
    
  </div>

  <!-- TABLE -->
  <!-- NOTE: td-expansion-panel 안에 ngx-datatable을 넣으면 테이블 렌더링이 엉망이 됨!! -->
  <md-card class="mat-table-container">
    <ngx-datatable #resultTable class='material expandable' 
        [rows]='result_table_rows' [columns]='result_table_columns'
        [loadingIndicator]="loading_table" [reorderable]="true" [limit]="10"
        [headerHeight]="40" [footerHeight]="40" [rowHeight]="50" [columnMode]="'force'"
        [scrollbarH]="true" (page)="onTablePage($event.offset)">

      <ngx-datatable-row-detail [rowHeight]="50" #myDetailRow (toggle)="onRowDetailToggle($event)">
        <ng-template let-row="row" ngx-datatable-row-detail-template>
          <div style="padding-left:35px; overflow-y:auto;">
            <div><span>{{ row[row._selectedColumn.prop].value | json }}</span></div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>

      <ngx-datatable-column name="ROWNUM" [width]="80" [maxWidth]="80" [canAutoResize]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span>{{ row.rowNum }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column *ngFor="let col of result_table_columns | slice:1" name="{{col.name}}" 
          [canAutoResize]="true" [minWidth]="100" [width]="120">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button *ngIf="col.isAgensType" md-icon-button mdTooltip="Expand/Collapse Row"
            (click)="toggleExpandRow(row, col)">
            <i [class.datatable-icon-right]="!row.$$expanded" [class.datatable-icon-down]="row.$$expanded"></i>
          </button>
          <span>{{ col.isAgensType ? row[col.prop].disp : row[col.prop] }}</span>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </md-card>
<!-- 
  // JSON
  <md-card>
      <ng-template>
        <h4>JSON &nbsp; <small class="text-xs">result</small></h4>
      </ng-template>
      <div>
        <json-formatter [data]="result_json" [levelsOpen]="3"></json-formatter>
      </div>
  </md-card>
-->
</div>
