md-sidenav-container{ background-color: #edf0f5; 
        md-sidenav { background-color: white; overflow: hidden; box-shadow: 1px 1px 2px rgba(9,9,9,0.2); 

            label { padding: 14px 18px; position: absolute; bottom: 0; cursor: pointer; transition: all 0.3s ease-in-out;  
                    md-icon { font-size: 24px; color: #686a6d; display: inline-block; vertical-align: middle; padding-bottom: 4px; }
            }

            div.sidenav { width: 230px; transition: all 0.2s ease-in-out; overflow: hidden; white-space: nowrap; 
                
                div.wide_side { 
                    h1 { padding: 17px 20px 20px; background-color: #303f9f; cursor: pointer;
                        img { width: 100%; max-width: 80px; }
                    } 
                    div { padding: 30px 20px; border-bottom: 1px solid #f5f7f9;
                        &:after { content: ''; display: block; clear: both; }
                        img { width: 65px; margin-right: 20px; float: left; }
                        p { font-size: 13px; padding-top: 14px; color: #686a6d; }
                    }   
                    ul {
                        li { border-bottom: 1px solid #f5f7f9;
                            a { padding: 18px; display: block; color: #686a6d; font-size: 13px; font-weight: 700; transition: all 0.3s ease-in-out;
                                span { vertical-align: middle; }
                                md-icon { padding-right: 16px; font-size: 24px; display: inline-block; vertical-align: middle; }
                                &:hover { background-color: #f5f7f9; }
                            }
                        }
                    }
                }
                div.icon_side { display: none; 
                    h1 { padding: 20px 20px 17px; background-color: #303f9f; cursor: pointer;
                        img { width: 22px; }
                    } 
                    p { padding: 46px 0 43px; font-size:12px; color: #686a6d; text-align: center; border-bottom: 1px solid #f5f7f9 }
                    ul {
                        li { border-bottom: 1px solid #f5f7f9;
                            a { padding: 18px; display: block; color: #686a6d; font-size: 13px; font-weight: 700; transition: all 0.3s ease-in-out;
                                md-icon { font-size: 24px; display: inline-block; vertical-align: middle; }
                                &:hover { background-color: #f5f7f9; }
                            }
                        }
                    }
                }
            }
        }      

        input { display: none; }
        input[type="checkbox"]:checked {
            &~ div.sidenav { width: 60px; 
                div.wide_side { display: none; }
                div.icon_side { display: block; }
            }
            &~ label { transform:rotate(180deg); } 
        }   


        div.md-content { background-color: #3f51b5; padding: 18px; 

                    span.menu { float:left; padding: 2px 0; }
                    ul { float: right; 
                        li{ display: inline-block; padding: 2px 0; }
                    }
                    &:after { content: ''; display: block; clear: both; }
                    md-icon { color: white; }
        }
}



