
        <md-sidenav-container>
        <md-sidenav id="sidenav" mode="{{navMode}}" opened="{{side}}" #sidenav >
            
            <input type="checkbox" id="icon_box">
            
            <div class="sidenav">
                <div class="wide_side">
                    <h1 (click)="sidenav.toggle()"><img src="../../assets/img/logo_wh_32px.png" alt="logo"></h1>
                    <div>
                        <img src="../../assets/img/person.png" alt="person">
                        <p><strong><small>Welcome to</small><br/>AgensBrowser!</strong></p>
                    </div>
                    <ul>
                        <li><a [routerLink]="['/']"><md-icon>dashboard</md-icon><span>Dashboard</span></a></li>
                        <li><a [routerLink]="['/graph']"><md-icon>pie_chart</md-icon><span>Graph query</span></a></li>
                        <li><a [routerLink]="['/workspace']"><md-icon>insert_drive_file</md-icon><span> Workspace</span></a></li>
                        <li><a [routerLink]="['/admin']"><md-icon>person</md-icon><span>Admin</span></a></li>
                        <li><a [routerLink]="['/help']"><md-icon>help</md-icon><span>Help</span></a></li>  
                    </ul>
                </div>
                <div class="icon_side">
                    <h1 (click)="sidenav.toggle()"><img src="../../assets/img/logo_wh_bn.png" alt="logo"></h1>
                    <p><strong>Agens<br/>Browser</strong></p>
                    <ul>
                        <li><a mdTooltip="Dashboard" mdTooltipPosition="after" [routerLink]="['/']"><md-icon>dashboard</md-icon></a></li>
                        <li><a mdTooltip="Graph-query" mdTooltipPosition="after" [routerLink]="['/graph']"><md-icon>pie_chart</md-icon></a></li>
                        <li><a mdTooltip="Workspace" mdTooltipPosition="after" [routerLink]="['/workspace']"><md-icon>insert_drive_file</md-icon></a></li>
                        <li><a mdTooltip="Admin" mdTooltipPosition="after" [routerLink]="['/admin']"><md-icon>person</md-icon></a></li>
                        <li><a mdTooltip="Help" mdTooltipPosition="after" [routerLink]="['/help']"><md-icon>help</md-icon></a></li>  
                    </ul>
                </div>
            </div>

            <label for="icon_box"><md-icon>arrow_back</md-icon></label>
            
        </md-sidenav>

        <div class="md-content">
            <span class="menu"><a md-icon-button (click)="sidenav.toggle()"><md-icon>menu</md-icon></a></span>
            <ul>
<!-- 
    // **NOTE: Bitnine.net 의 Blog RSS 연결 부분
    // : Json Plug-in 설치가 안되어 당장은 빼고 진행
                <li>
                    <a md-icon-button [mdMenuTriggerFor]="notificationsMenu" mdTooltip="Alram" mdTooltipPosition="before"><md-icon>alarm_on</md-icon></a>
                    <md-menu #notificationsMenu="mdMenu">
                            <div td-menu-header class="md-subhead">Notifications</div>
                            <md-nav-list dense>
                                <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">
                                    <a md-list-item>
                                    <md-icon md-list-avatar>today</md-icon>
                                    <h4 md-line><span class="text-wrap">A user did an activity on an item that you've subscribed to follow actions on.</span></h4>
                                    <p md-line>22 minutes ago</p>
                                    </a>
                                    <md-divider *ngIf="!last"></md-divider>
                                </ng-template>
                            </md-nav-list>
                    </md-menu>
                </li>
-->
                <li class="logout">
                    <a md-icon-button mdTooltip="Logout" mdTooltipPosition="before" [routerLink]="('/login')"><md-icon>lock_open</md-icon></a>
                </li>
            </ul>
        </div>

        <router-outlet></router-outlet>

        <!--<img src="../../../../assets/img/logo_bn.png">-->
        </md-sidenav-container>

        <div id="webUI" *ngIf="currentPath !== '/' || navMode === 'over'">
            <a [routerLink]="[currentPath]" fragment="top"><md-icon>arrow_upward</md-icon></a>
        </div>

