<body>
    <section>
        <h1>
            <img src="../../assets/img/logo_wh_32px.png" alt="logo">
        </h1>
        <md-card>
            <form #loginForm="ngForm">

                <div>
                    
                    <md-input-container>
                        <md-placeholder md-no-float>HOST name/address</md-placeholder>
                        <input mdInput #ctrlHost [(ngModel)]="request.host" value="{{request.host}}" 
                                type="text" required [ngModelOptions]="{standalone: true}">
                        <md-hint>
                            <span [hidden]="!ctrlHost.errors?.required || ctrlHost.pristine"> This is Required </span>
                        </md-hint>
                    </md-input-container>
                </div>
                <div>
                    
                    <md-input-container>
                        <md-placeholder md-no-float>PORT</md-placeholder>
                        
                        <input mdInput #ctrlPort [(ngModel)]="request.port" value="{{request.port}}" 
                                type="text" required [ngModelOptions]="{standalone: true}">
                        <md-hint>
                            <p [hidden]="!ctrlPort.errors?.required || ctrlPort.pristine"> This is Required </p>
                        </md-hint>
                    </md-input-container>
                </div>
                <div>
                    
                    <md-input-container>
                        <md-placeholder md-no-float>DATABASE</md-placeholder>
                        <input mdInput #ctrlDb [(ngModel)]="request.db" value="{{request.db}}" 
                                type="text" required [ngModelOptions]="{standalone: true}">
                        <md-hint>
                            <p [hidden]="!ctrlDb.errors?.required || ctrlDb.pristine"> This is Required </p>
                        </md-hint>
                    </md-input-container>
                </div>
                <div>
                    
                    <md-input-container>
                        <md-placeholder md-no-float>USERNAME</md-placeholder>
                        <input mdInput #ctrlUserId [(ngModel)]="request.user_id" value="{{request.user_id}}" 
                                type="text" required [ngModelOptions]="{standalone: true}">
                        <md-hint>
                            <p [hidden]="!ctrlUserId.errors?.required || ctrlUserId.pristine"> This is Required </p>
                        </md-hint>
                    </md-input-container>
                </div>
                <div>
                    
                    <md-input-container>
                        <md-placeholder>PASSWORD</md-placeholder>
                        <input mdInput #ctrlUserPw (keyup.enter)="login()" [(ngModel)]="request.user_pw" value="{{request.user_pw}}" 
                                type="password" required [ngModelOptions]="{standalone: true}">
                        <md-hint>
                            <p [hidden]="!ctrlUserPw.errors?.required || ctrlUserPw.pristine"> This is Required </p>
                        </md-hint>
                    </md-input-container>
                </div>
            </form>
            <div> 
                <md-checkbox [(ngModel)]="isChecked" (change)="onChangeCheckbox()" color="accent" >Keep Me signed in</md-checkbox>
                <button md-ripple md-raised-button [routerLink]="['/']" color="primary" [disabled]="!loginForm.form.valid" (click)="login()" flex> SIGN-IN</button>
            </div> 
        </md-card>
        <ag-alert></ag-alert>
        <!--<a class="forgot">FORGOT PASSWORD?</a>
        <span><strong><small>Do not have an account?</small> <a>CREATE AN ACCOUNT</a></strong></span>-->
    </section>
</body>